<h1>Data Generator</h1>
<p>Enter the data below</p>
<form action="main/new" method="post">
<input type="text" name="city" placeholder="Enter city here" required/>
<input type="text" name="category" placeholder="Enter category here" required/>
<input type="text" name="area" placeholder="Enter area here" />
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input type="submit" name="submit" value="submit">
<p>For Example: If you want to search for driver service agents in delhi<br>city: Delhi category: Driver Service Agents <br> <b>Note that first letter of each word is in upper case.</b><br>The result will be stored in a file named <b>result.xls</b></p>
</form>
